<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Página Inicial Administrador</title>
    <link rel="stylesheet" href="estilos.css/estiloAdministrador.css">
</head>
<body>
    <header class="cabecalho">
        <img class="notificacoes" src="img/notificacoes.png" alt="Notificações">
        <img class="usuario" src="img/user.png" alt="perfil">
        <p class="nome"><%= nomeUsuario %></p>
    </header>

    <section class="containers">
    <div class="container1">
        <p class="orcamento-nome">Orçamentos</p>
        <p class="preco4"><%= quantidadeOrcamentos %></p>
        <img src="img/orcamentos.png" alt="Imagem dos Serviços" class="orcamento-img">
        <div class="linha2"></div>
        <img src="img/atualizar.png" class="atualizar">
        <p class="totalServicos"> Orçamentos abertos:</p>
    </div>
    
    <div class="container1">
        <p class="os-nome">OS</p>
        <p class="preco2"><%= quantidadeOS %></p>
        <img src="img/os_colorida.png" alt="vendas" class="servicos-img">
        <div class="linha2"></div>
        <img src="img/atualizar.png" class="atualizar">
        <p class="totalServicos"> Os abertas:</p>
    </div>
    
    <div class="container1">
        <p class="despesas-nome">Despesas</p>
        <p class="preco3"><%= quantidadeDespesas %></p>
        <img src="img/aprovacao.png" alt="despesas" class="aprovacao-img">
        <div class="linha2"></div>
        <img src="img/atualizar.png" class="atualizar">
        <p class="totalServicos"> Aguardando aprovação:</p>  
    </div>
    
    <div class="container1">
        <p class="saldo-diario-nome">Saldo diário</p>
        <p class="preco1">R$ <%= saldoDiario %>,00</p>
        <img src="img/aprovado.png" alt="saldo" class="servicos-img">
        <div class="linha2"></div>
        <img src="img/atualizar.png" class="atualizar">
        <p class="totalServicos"> Valor Arrecadado Hoje</p>
    </div>

    <div class="linha"><p class="historico-mov">ORÇAMENTOS ABERTOS</p></div>
    </section>

    <div class="linha3"><p class="historico-mov">OS ABERTOS</p></div>
    </section>

    <section class="containers2">
        <% for (let i = 0; i < orcamentosAbertos.length; i++) { %>
            <div class="container2">
                <p class="data"><%= orcamentosAbertos[i].data %></p>
                <p class="nome2"><%= orcamentosAbertos[i].nomeCliente %></p>
                <p class="assunto"><%= orcamentosAbertos[i].assunto %></p>
            </div>
        <% } %>

        <% for (let i = 0; i < osAbertas.length; i++) { %>
            <div class="container3" style="background-color: #616A70;">
                <p class="data"><%= osAbertas[i].data %></p>
                <p class="nome2"><%= osAbertas[i].nomeCliente %></p>
                <p class="assunto"><%= osAbertas[i].assunto %></p>
            </div>
        <% } %>
    </section>

    <section class="sidebar">
        <div class="logo-details">
            <img src="img/smartlogo.png" style="width: 310px; height: 310px; position: relative; right: 45px;">
        </div>
        <ul class="nav-links" style="margin-top: 40px;">
            <li>
                <div class="icon-link" style="padding-top: 20px;">
                <a href="#">
                    <img src="img/funcionarios.png" style="width: 55px; height: 48px; padding-left: 10px;">
                    <span class="link_name" style="position: relative; left: 20px;">Funcionarios</span>
                </a>
            </div>   
            </li>
            <li>
                <div class="icon-link" style="padding-top: 20px;">
                <a href="#">
                    <img src="img/clientes.png" style="width: 55px; height: 48px; padding-left: 10px;">
                    <span class="link_name" style="position: relative; left: 20px;">Clientes</span>
                </a>
            </div>   
            </li>
            <li>
                <div class="icon-link" style="padding-top: 20px;">
                    <a href="#">
                        <img src="img/produtos.png" style="width: 55px; height: 48px; padding-left: 10px;">
                        <span class="link_name" style="position: relative; left: 20px;">Produtos</span>
                    </a>
                </div>   
            </li>
            <li>
                <div class="icon-link" style="padding-top: 20px;">
                    <a href="#">
                        <img src="img/solicitacao.png" style="width: 55px; height: 48px; padding-left: 10px;">
                        <span class="link_name" style="position: relative; left: 20px;">Solicitação</span>
                    </a>
                </div>
            </li>
            <li>
                <div class="icon-link" style="padding-top: 20px;">
                    <a href="#">
                        <img src="img/usuario.png" style="width: 55px; height: 48px; padding-left: 10px;">
                        <span class="link_name" style="position: relative; left: 20px;">Usuários</span>
                    </a>
                </div>   
            </li>
            <li>
                <div class="icon-link" style="padding-top: 20px;">
                    <a href="#">
                        <img src="img/relatorio_orcamento.png" style="width: 55px; height: 48px; padding-left: 10px;">
                        <span class="link_name" style="position: relative; left: 20px;">Relatório Orçamento</span>
                    </a>
                </div>   
            </li>
            <li>
                <div class="icon-link" style="padding-top: 20px;">
                    <a href="#">
                        <img src="img/relatorio_os.png" style="width: 55px; height: 48px; padding-left: 10px;">
                        <span class="link_name" style="position: relative; left: 20px;">Relatório OS</span>
                    </a>
                </div>   
            </li>
            
        </ul>
    </section>
</body>
</html>